.Weather {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #add8e6;
  border-radius: 4px;
  background-color: #7cb5fc;
  box-shadow: 5px 3px 19px rgba(173, 216, 230, 0.2);
}

.Weather form {
  margin: 3px auto;
}

.Weather .time {
  text-align: right;
}

.Weather .today {
  border-radius: 5px;
  padding: 30px 12px;
  margin-left: 0px;
  margin-right: 0px;
}
.Weather .icon {
  height: 100px;
}

.Weather .temperature {
  font-size: 66px;
  font-weight: 300;
}

.Weather .unit {
  font-size: 32px;
  font-weight: 300;
  position: relative;
  top: -22px;
  margin-left: 5px;
}

.Weather a {
  color: #000;
  opacity: 0.6;
  text-decoration: none;
}

.Weather .climate-values {
  text-align: right;
  list-style: none;
  font-size: 20px;
  padding: 15px;
  margin: 0px;
}

.Weather li {
  list-style: none;
}
